.d-flex, .buttons__button, .buttons > label, .panel__button, .panel__items, .inputContainerCommon, .panel__searching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid, .buttons, .panel {
  display: -ms-grid;
  display: grid;
}

.commonButton, .buttons__button, .panel__button {
  padding: 1.5rem 2.5rem;
  width: fit-content;
  background-color: #1F3A5F;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 1.8rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.commonButton:hover, .buttons__button:hover, .panel__button:hover, .commonButton:active, .buttons__button:active, .panel__button:active {
  background: #3D5A80;
}

.inputContainerCommon, .panel__searching {
  width: 100%;
  margin-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.inputContainerCommon > label, .panel__searching > label {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.inputContainerCommon > input, .panel__searching > input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: #0F1C2E;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.inputContainerCommon > input:focus, .panel__searching > input:focus {
  border: none;
  outline: none;
}
.inputContainerCommon > input::placeholder, .panel__searching > input::placeholder {
  color: #374357;
}

.panel {
  grid-auto-rows: min-content;
  row-gap: 2rem;
  width: 100%;
  margin-bottom: 3rem;
}
.panel__items {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.panel__button {
  padding: 1rem 2rem;
  margin: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.panel__button > p {
  margin-right: 1rem;
}
.panel__searching {
  width: 20%;
  margin-bottom: 0;
}

.buttons {
  width: fit-content;
  grid-template-columns: min-content min-content;
  gap: 1rem;
}
.buttons > div {
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
.buttons > label {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.buttons > label > select {
  padding: 0.5rem;
  color: #FFFFFF;
  background: #0F1C2E;
  border: none;
  outline: none;
}
.buttons__button {
  justify-self: end;
  margin: 0;
  padding: 1rem 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.buttons__button > p {
  margin-right: 1rem;
}

/*# sourceMappingURL=Panel.module.css.map */
