.d-flex, .centered, .dragFiles, .inputContainer > label[for=file], .form__container, .form, .main__buttons, .main, .inputContainerCommon, .inputContainer, .main__searching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid, .row, .rowHead, .fileListTable {
  display: -ms-grid;
  display: grid;
}

.commonButton, .main__buttons__button {
  padding: 1.5rem 2.5rem;
  width: fit-content;
  background-color: #1F3A5F;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 1.8rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.commonButton:hover, .main__buttons__button:hover, .commonButton:active, .main__buttons__button:active {
  background: #3D5A80;
}

.inputContainerCommon, .inputContainer, .main__searching {
  width: 100%;
  margin-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.inputContainerCommon > label, .inputContainer > label, .main__searching > label {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.inputContainerCommon > input, .inputContainer > input, .main__searching > input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: #0F1C2E;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.inputContainerCommon > input:focus, .inputContainer > input:focus, .main__searching > input:focus {
  border: none;
  outline: none;
}
.inputContainerCommon > input::placeholder, .inputContainer > input::placeholder, .main__searching > input::placeholder {
  color: #374357;
}

.main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  width: 100%;
  padding: 2rem;
}
.main__buttons {
  margin-bottom: 2rem;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main__buttons__button {
  padding: 1rem 2rem;
  margin: 1rem;
}
.main__sorting > select {
  border-radius: 1rem;
  padding: 1rem;
  color: #FFFFFF;
  background: #1F3A5F;
  border: none;
  outline: none;
}
.main__searching {
  width: 20%;
  margin-bottom: 0;
}

.fileListTable {
  width: 100%;
  grid-auto-rows: min-content;
}

.row, .rowHead {
  grid-template-columns: 0.5fr 3.5fr repeat(3, 1fr) 0.5fr;
  border-bottom: 0.1rem solid #374357;
  gap: 1rem;
  padding: 0.5rem 0;
}

.rowHead {
  border-bottom: 0.2rem solid #374357;
}

.row {
  transition: all 0.5s ease;
  cursor: pointer;
}
.row:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.row__date {
  grid-column-start: 4;
}
.row__name {
  justify-self: start !important;
  grid-column-start: 2;
}
.row__fileIcon {
  grid-column-start: 1;
}
.row__size {
  grid-column-start: 5;
}
.row__download, .row__delete, .row__fileIcon {
  cursor: pointer;
}
.row__fileIcon > svg > path {
  fill: #1f2b3e;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.row__download {
  grid-column-start: 3;
}
.row__download > svg:hover > path {
  stroke: #acc2ef;
}
.row__delete {
  grid-column-start: 6;
}
.row__delete > svg:hover > path {
  fill: #acc2ef;
}
.row:hover > .row__fileIcon > svg > path {
  fill: #acc2ef;
}

.cell, .row__download, .row__delete, .row__fileIcon, .row__name, .row__date, .row__size {
  padding: 0.5rem 1rem;
  justify-self: center;
}

.form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.form > h1 {
  font-size: 2rem;
  margin-bottom: 3.1rem;
}
.form__container {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.inputContainer {
  margin-bottom: 0;
}
.inputContainer > label[for=file] {
  border: 0.1rem dashed #374357;
  border-radius: 1rem;
  width: 100%;
  height: 15rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.inputContainer > label[for=file] > input[type=file] {
  display: none;
}

.dragFiles {
  width: 100%;
  height: 15rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0.1rem dashed #acc2ef;
  border-radius: 1rem;
  font-size: 1.8rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.dragFiles__container {
  width: 100%;
  margin-bottom: 1rem;
}

.centered {
  width: 100%;
  margin: 2rem 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*# sourceMappingURL=Disk.module.css.map */
